################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TicketPro/.vs/TicketPro/CopilotIndices/0.2.1657.32929
/TicketPro/.vs/TicketPro/FileContentIndex
